.app {
  text-align: center;
  /* background-color: #17161d; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(0.6em + 1vw);
  color: black;

  /* BG */
  background: linear-gradient(
    120deg,
    #92f681 20%,
    #42f123 20%,
    #42f123 30%,
    #ffecec 30%,
    #d0e3fb 80%
  );
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.3em;
}

.button {
  padding: 0.5em;
  font-size: 0.6em;
  width: 5em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pokemon-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.pokedex-select {
  display: flex;
  flex-direction: row;
}

.pokedex-dropdown {
  padding-left: 0.5em;
}

.input-field {
  padding: 0.25em;
  margin: 0.5em 0.25em;
  font-size: 0.8em;
  width: 3.5em;
  height: 1em;
}

.input-error-label {
  color: red;
  font-size: 0.7em;
  padding-bottom: 1em;
}

.box-label {
  margin-bottom: 0.25em;
}

.box {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.cell {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  /* border: 1px solid gainsboro; */
  /* background-color: white; */
  background: rgba(255, 255, 255, 0.5);
  color: #17161d;
  padding: 0.1em;
  margin: 0.25em;
  min-width: 3em;
  min-height: 3em;
  max-width: 3em;
  max-height: 3em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.cell img {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 2.7em;
  max-width: 2.7em;
  width: auto;
  object-fit: contain;
}

.inactive img {
  opacity: 0.8;
}

.inactive img:hover {
  opacity: 1;
  zoom: 110%;
}

.active {
  background: rgb(0, 159, 247);
  background: radial-gradient(
    circle,
    rgba(0, 159, 247, 1) 0%,
    rgba(255, 255, 255, 0.9) 80%
  );
}

.active img {
  opacity: 1;
  zoom: 110%;
}
