@media screen and (max-device-width: 319px) {
  .app {
    font-size: calc(0.55em + 1vw);
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .app {
    font-size: calc(0.6em + 1vw);
  }
}

@media screen and (min-device-width: 375px) and (max-device-width: 511px) {
  .app {
    font-size: calc(0.7em + 1vw);
  }
}

@media screen and (min-device-width: 512px) and (max-device-width: 767px) {
  .app {
    font-size: calc(0.7em + 1vw);
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .app {
    font-size: calc(1.3em + 1vw);
  }
}

@media screen and (min-width: 1024px) {
  .app {
    font-size: calc(0.7em + 1vw);
  }
}

.app {
  text-align: center;
  /* background-color: #17161d; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(0.7em + 1vw); */
  color: black;

  /* BG */
  background: linear-gradient(
    120deg,
    #92f681 20%,
    #42f123 20%,
    #42f123 30%,
    #ffecec 30%,
    #d0e3fb 80%
  );
}
